<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
		<string>SFProText-Bold.ttf</string>
		<string>SFProText-BoldItalic.ttf</string>
		<string>SFProText-Heavy.ttf</string>
		<string>SFProText-HeavyItalic.ttf</string>
		<string>SFProText-Light.ttf</string>
		<string>SFProText-LightItalic.ttf</string>
		<string>SFProText-Medium.ttf</string>
		<string>SFProText-MediumItalic.ttf</string>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-RegularItalic.ttf</string>
		<string>SFProText-Semibold.ttf</string>
		<string>SFProText-SemiboldItalic.ttf</string>
		<string>VisbyExtrabold.otf</string>
	</array>
</dict>
</plist>
